NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=hqms
DB_USER=hqms
DB_PASSWORD=hqms_password

JWT_SECRET=change_me
JWT_EXPIRES_IN=1d

# comma-separated
CORS_ORIGINS=http://localhost:5173,http://localhost

SEED_ADMIN_EMAIL=admin@hqms.local
SEED_ADMIN_PASSWORD=Admin@12345

